<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <!-- Define la codificación de caracteres a UTF-8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Compatibilidad con Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Optimización para dispositivos móviles -->
    <title>Documento en Blanco</title> <!-- Título de la página que aparece en la pestaña del navegador -->
</head>
<body>
    <!-- Contenido de la página va aquí -->

    <h1>HOLA MUNDO</h1>

    <h1>Lista de Productos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>